<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.Execution.LoginTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Test1">
		<classes>
			<class name="com.Execution.Setting_TypeOfRoomsTest">
				<methods>
					<include name="addRoomDetails"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test thread-count="5" name="Test2">
		<classes>
			<class name="com.Execution.Setting_TypeOfRoomsTest">
				<methods>
					<include name="editRoom"></include>
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Test3">
		<classes>
			<class name="com.Execution.Setting_TypeOfRoomsTest">
				<methods>
					<include name="deleteRoom"></include>
				</methods>
			</class> 
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Test4">
		<classes>
			<class name="com.Execution.Setting_TypeOfRoomsTest">
				<methods>
					<include name="roomTypeStatus"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test thread-count="5" name="Test5">
		<classes>
			<class name="com.Execution.Setting_TypeOfRoomsTest">
				<methods>
					<include name="searchData"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> <!--
Suite -->
